body {
    padding: 1em;
}

table {
    /* width: 60% !important; */
    table-layout: auto !important;
}

.delete {
    /* background-color: blue !important; */
    width: 50px !important;
}

.edit {
    /* background-color: black !important; */
    width: 50px !important;
}


/* table.table-fit thead th,
table.table-fit tfoot th {
    width: auto !important;
}

table.table-fit tbody td,
table.table-fit tfoot td {
    width: auto !important;
} */

@media (prefers-reduced-motion:reduce) {
    .form-select {
        transition: none
    }
}

.sidenav {
    position: relative;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 250px;
    padding: auto;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.content {
    margin-left: 250px;
}