<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Danh sách phòng ban</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!--js-->
    <script th:src="@{/js/bootstrap.js}"></script>
</head>

<body>

    <th:block th:include="/sidebar"></th:block>

    <div class="content">

        <div class="text-center">
            <h1>Trang quản lý</h1>

        </div>

    </div>
    <!-- /.container -->







</body>

</html>